.EnterEmail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    padding: 72px 24px 24px 24px;
}

.icon {
    width: 52px;
}

.header{
    display: flex;
    justify-content: space-between;

}

.arrow{
    width: 32px;
    height: 32px;
}

.title{
    margin-top: 16px;
    margin-bottom: 8px;
}

.subHeadLine {
    color: var(--color-tertiary-dark);
    margin-bottom: 24px;
}

.inputField {
    margin-bottom: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputField input {
    padding-right: 16px;
}


.buttonsHolder{
    display: flex;
    position: absolute;
    bottom: 24px;
    width: 89%;
}
.buttonNext {
    flex-grow: 2;
    margin-left: 4px;
}

.buttonLater{
    flex-grow: 1;
    margin-right: 4px;

}


