.firstAddress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 24px;
}

.firstAddress p {
  margin-top: 32px;
}

.icon {
  color: #000;
  width: 32px;
  height: 32px;
}

.addImg {
  margin: 83px auto 0;
  display: grid;
  align-items: center;
}

.addImg img {
  width: 218px;
  height: 212px;
  margin: auto;
}

.button {
  margin: auto;
  margin-top: 16px;

}
.button img {
  margin-left: 10px;
}