.firstAddress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 24px;
}

.firstAddress p {
  margin-top: 32px;
}

.icon {
  color: #000;
  width: 32px;
  height: 32px;
}

.addImg {
  margin: 83px auto 0;
}

.addImg img {
  width: 218px;
  height: 212px;
}

.bottom {
  border: none;
  background-color: #e6f8ff;
  color: #068cbf;
  padding: 16px 24px;
  border-radius: var(--border-radius-2);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 16px auto;
}
.bottom img {
  margin-left: 10px;
}
