.input {
	outline: none;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-1);
    min-width: 48px;
    min-height: 56px;
	/* padding: 16px; */
	color: var(--color-primary-dark);
}
.input:global(.error) {
	border-color: var(--color-error);
}

.input:focus {
	border-color: var(--color-primary);
}

.otpContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.otpForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.otpForm p{
    margin-right: 16px;
    margin-bottom: 8px;; 
}
.otpForm .deactiveBtn{
    color: var(--color-deactive);
    cursor: default;
}
.otpForm button span, .otpForm p{
     color: var(--color-primary-dark)
}
