
.LocationBar span {
    margin-right: 8px;
}

.savedLocation {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.savedLocations {
    margin: 16px 0;
    display: flex;
}

.bottomSheetButton{
    width: 100%;
}
.inputContainer {
    width: 100%;
}
