.input {
    outline: none;
    border: 1px solid var(--color-tertiary-light-active);
    border-radius: var(--border-radius-1);
    padding: 16px 24px;
    color: var(--color-tertiary-darker);

    display: flex;
    align-items: center;
}

.input:global(.error) {
    border-color: var(--color-error-normal);
    background-color: var(--color-error-light);
}

.input:global(.system) {
    border: none;
    background-color: var(--color-primary-lighter);
}

.input::placeholder {
    color: var(--color-tertiary-normal);
}

.input:focus {
    /*border: 2px solid var(--color-primary-normal);*/
    box-shadow: inset 0 0 0 2px var(--color-primary-normal);
}

.input:disabled {
    border: 1px solid var(--color-tertiary-white-light-active);
    color: var(--color-tertiary-lighter);
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}