.input {
    outline: none;
    border: 1px solid var(--color-tertiary-light-active);
    border-radius: var(--border-radius-1);
    padding: 16px 24px;
    color: var(--color-tertiary-darker);
}

.input:global(.error) {
    border-color: var(--color-error-normal);
    background-color: var(--color-error-light);
}

.input:global(.system) {
    border: none;
    background-color: var(--color-primary-lighter);
}

.input::placeholder {
    color: var(--color-tertiary-normal);
}

.input:focus {
    border: 2px solid var(--color-primary-normal);
}

.input:disabled {
    border: 1px solid var(--color-tertiary-white-light-active);
    color: var(--color-tertiary-lighter);
}
